name: Staging

on:
  workflow_call:
    inputs:
      DISPLAY_VERSION:
        description: Display Version
        required: true
        type: string
    outputs:
        versiondisplay:
          description: "Display Version"
          value: ${{ jobs.stage.outputs.versionout }}

jobs:
  stage:
    name: Stage Job
    runs-on: ubuntu-22.04
    outputs:
      versionout: ${{ steps.versionexport.outputs.version }}
    steps:            
      - name: Test input
        run: |
          echo ${{ inputs.DISPLAY_VERSION }}
      - name: Output VERSION_DISPLAY
        id: versionexport
        run: echo "::set-output name=version::$(echo ${{ inputs.DISPLAY_VERSION }})"
